* {
  color: black;
  margin: 0;
  padding: 0;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.CheckedW {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  row-gap: 50px;
}
.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.left {
  background-color: green;
  height: 400px;
  width: 500px;
  min-width: 280;
  min-height: 250px;
  overflow: hidden;
  padding-top: 30px;
}
.right {
  background-color: orange;
  height: 400px;
  width: 500px;
  min-width: 280;
  min-height: 250px;
  overflow: hidden;
  padding-top: 30px;
}
#userInput {
  padding: 15px;
  font-size: 20px;
}
button {
  font-size: 20px;
  padding: 15px;
  background-color: blanchedalmond;
}
p{
    margin-left: 50px;
    font-size: 23px;
}
